<div class="container">
    <div class="card">
        <ul>
            <li *ngFor="let item of items">{{ item }}</li>
        </ul>
        <div class="add-item-container">
            <input type="text" [(ngModel)]="inputData" placeholder="Enter a restaurant" class="input-field">
            <button (click)="onClick()" class="rounded-button">Add</button>
        </div>
        <input type="file" (change)="onFileSelected($event)" />

        <button (click)="onSubmit()">Submit</button>
    </div>
</div>